/*------------------------------------------------
-------------------Generell styling---------------
------------------------------------------------*/
body {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0%;
  min-height: 100vh; /*Dette passer på at hvis det ikke hadde vært noe content så hadde footeren blitt på bunnen av siden.*/
  width: 100vw;
  display: flex;
  flex-direction: column;   
}

a {
  color: rgb(195, 194, 194);
}

.textbox {
  background-color: #0d5474;
  padding: 30px;
  margin: 45px auto;
  border-radius: 25px;
  max-width: 1366px;
}

.elementbox {
  background-color: #083448;
  padding: 30px;
  margin: 10px;
  border-radius: 25px;
}

.section_titles {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 25px;
  margin: 10px;
}

.flex_wrapper {
  display: flex;
}

.flex_wrapper_secondary {
  display: flex;
}

.flex_child {
  flex: 1;
}

.flex_child:first-child {
  margin-right: 50px;
}

li {
  font-size: 25px;
}

/* Lager nye radio og checkbox inputter for Promillekalkulator og Brygge selv */
.checkboxes {
  -webkit-appearance: none;
  appearance: none;
  background-color: #d1d3d1;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0px;
}

/* Fyller inputtene med gul farge når de er blitt "checked" */
.checkboxes:checked {
  background-color: #ffa500;
}


/* Får pointer når man skal trykke på knappene i navbaren eller når man skal trykke radio og checkbox inputene */
button, .checkboxes {
  cursor: pointer;
}
/*------------------------------------------------
---------------------header-----------------------
------------------------------------------------*/
#topbox {
  background-color: #0d5474;
}

#ontap_logo {
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skaal {
  position: absolute;
  height: 230px;
  top: 20px;
}

#skaal1 {
  right: 150px;
}

#skaal2 {
  left: 150px;
}

/*Secondary topbox*/
#ontap_logo_barrel {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#secondary_topbox {
  padding: 25px 10px;
  display: none;
}
/*------------------------------------------------
---------------------Navbar-----------------------
------------------------------------------------*/
nav {
  background-color: #083448;
  text-align: center;
  padding: 5px;
  height: auto;
}

#navbar_buttons > button {
  background-color: #083448;
  color: white;
  border-color: #083448;
  border-style: solid;
  transition: 0.2s;
  height: 70px;
  width: 200px;
  margin: 5px;
  font-size: 20px;
}

#navbar_buttons button:hover {
  background-color: #0d5474;
  color: white;
  border: white solid 2px;
  border-radius: 10px;
}

/**dropdown*/
#dropdown {
  padding: 5px;
  display: none;
}

.dropdown_arrows {
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------
---------------------Main Content----------------
------------------------------------------------*/

/*------------------------------------------------
---------------------Footer-----------------------
------------------------------------------------*/
#online_logo_footer {
  position: absolute;
  bottom: 20px;
  height: 50px;
  right: 20px;
}

footer {
  background-color: #0d5474;
  position: relative;
  line-height: 10px;
}

#footer p {
  font-size: 15px;
}

footer p h3 {
  margin-left: 10px;
}

footer h3 {
  padding-left: 10px;
}

#contact_info {
  padding: 10px 20px;
}

/*------------------------------------------------
------------------Alle kalkulatorer-----------------
------------------------------------------------*/
#whiteline {
  background-color: white;
  height: 2px;
  margin: 10px 0px;
}

.kalkulator_input_textfield {
  width: 100%;
  height: 30px;
  color: black;
  background-color: white;
  outline: 0;
}
/*------------------------------------------------
--------------Promille kalkulator-----------------
------------------------------------------------*/

.input_title {
  margin: 0%;
  text-decoration: underline;
}


.input_set {
  margin: 10px 0px;
}

#gender_selection_box {
  width: 132.25px;
}

#promille_output_tekst {
  margin: 5px 10px 0px 0px;
}

#promille_error_box {
  margin: 25px 0px 0px 0px;
}

#alcohol_unit_explanation {
  list-style: none;
  padding: 0px;
  margin: 10px;
}

#p_output {
  color: black;
}

/* Gir radio inputene en høyde og bredde som matcher font-størrelsen og holder seg lik uansett hvilken bredde browser vinduet har */
.gender {
  width: 13px !important;
  height: 13px !important;
}
/*------------------------------------------------
--------------Spleise kalkulator------------------
------------------------------------------------*/
/* Tre spans som skal bli synlig dersom brukeren skriver inn tall som er mindre enn null eller inputet er tom  */
.spans {
  display: none;
}

/* inputene til spleise kalkulator */
.inputs-spleis {
  width: 80%;
  height: 30px;
}

table {
  width: 100%;
}

/*------------------------------------------------
------------------Abv kalkulator------------------
------------------------------------------------*/

/*------------------------------------------------
-------------------Main page----------------------
------------------------------------------------*/

#leftContainer {
  background-color: #083448;
}
#leftContainer,
#rightContainer {
  margin: 45px;
}

/*------------------------------------------------
-------------------Slideshow V2---------------------
------------------------------------------------*/

.bildeSlide {
  border-radius: 25px;
  width: 100%;
  border: #083448 2px solid;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Skjuler alle bilder som default */
.mySlides {
  display: none;
}

/* Neste & Forrige knapper */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Posisjonere neste-knappen helt til høyre */
.next {
  right: -2px;
  border-radius: 10px 0px 0px 10px;
}

.prev {
  border-radius: 0px 10px 10px 0px;
}

/* Når musepeker er over knappene */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Bildetekst */
.text {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Bildene fader inn */
/* Vi har ikke testet på Opera, men tydeligvis må man ha webkit prefix for at det skal funke der.
Kan egentlig fjerne det, men er greit å ha hvis noen bruker Opera */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------------------
-------------------Howto page---------------------
------------------------------------------------*/
/* #motherbox{
  max-width: 1366px;
  margin: 90px auto;
} */

/* Egen flex wrapper som skal brukes i en media query. */
.flex_wrapper_howto {
  display: flex;
}

/* Skaper rom mellom hver div, slik at avsnittene, videoene og sjekklisten ikke klumper seg opp */
.top-margin {
  margin-top: 5%;
}


/* Teksten utenfor den mørkeblå boksen blir ca. like bred som boksen */
#intro {
  margin: 0 25px;
}

/* Brygge selv er den eneste siden med underoverskrifter. Får overskriftene til å være i midten av den mørkeblå boksen og gir den større font */
.underoverskrifter {
  text-align: center;
  font-size: 25px;
}

/* Videoene blir avrundet på hjørnene og har ingen border */
.videos {
  border-radius: 25px;
  width: 100%;
  border: none;
}

/* Skal gi videoene riktig riktig aspect-ratio, men ser at den 2. videoen sin høyde tekst høyden. Kunne fikset det slik at videoen hadde en
bestemt høyde, men det skaper veldig mye luft under videoen og det så bedre ut med en høyere video. Setter også en width slik det blir plass
til en annen div. Float left for at div'en skal være på venstre siden*/
.left {
  aspect-ratio: 16/9;
  width: 50%;
  float: left;
}


/* Gir avsnittene en bestemt bredde og litt padding slik at teksten blir helt inntil videoen. */
.right {
  width: 45%;
  padding-left: 0.8cm;
}


/* Skaper luft mellom sjekkboksene og liste teksten*/
.list_span {
  margin-left: 10px;
}


/* Gjør at liste teksten blir strøket gjennom når man trykker på sjekkboksen */
.checkboxes:checked + span {
  text-decoration: line-through;
}


/* Gjør at bulletpoints forsvinner fra listen. Det blir litt luft mellom hver linje i sjekklisten. Får også teksten til å komme under hverandre
dersom siden blir så smal at liste teksten må på to linjer. */
#tutorial_list, .list_elements{
  margin-top: 2%;
  padding-left: 0.9em;
  text-indent: -1.2em;
  list-style-type: none;
}


/* Styler teksten hvor det står hvor mange steg som gjennomført. */
#antallchecked {
  margin-left: 0.3em;
  font-size: 25px;
}

/*---------------------------------------------------
----------------------Kontaktside--------------------
---------------------------------------------------*/

#contact_form {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}

.form_group {
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
  text-decoration: underline;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: solid 1px black;
  margin-top: 5px;
}

#form_message {
  resize: vertical;
}

#form_submit {
  border: none;
  outline: none;
  padding: 20px;
  width: 100%;
}

/*------------------------------------------------
-------------------Media queries---------------------
------------------------------------------------*/



@media only screen and (max-width: 1366px) {
  .textbox {
    margin: 45px 50px;
  }
}

@media only screen and (max-width: 1346px) {
  #flex_wrapper_index {
    display: block;
  }
}

/* Når skjermen blir mindre enn 1300px i bredden, så går teksten under videoen og de tar opp hele bredden av boksen. Noe padding forsvinner,
mens noe margin blir lagt til for at siden skal se bra ut.*/
@media only screen and (max-width: 1300px) {
  .flex_wrapper_howto {
    display: block;
  }
  
  .left {
    display: block;
    width: 100%;
    margin-bottom: 0.5cm;
    aspect-ratio: 16 / 9;
  }
  .videos {
    aspect-ratio: inherit;
  }

  .right {
    width: 100%;
    padding-left: 0;
  }

  .paragraphs {
    padding: 0;
  }
}


@media only screen and (max-width: 1156px) {
  .skaal {
    display: none;
  }
}

@media only screen and (max-width: 1115px) {
  .flex_wrapper {
    display: block;
  }
}


/**Phone mode*/
@media only screen and (max-width: 590px) {
  /*Generell styling*/
  p, .list_elements, #antallchecked {
    font-size: 4vw;
  }

  .textbox {
    margin: 10vw 6vw;
    padding: 3vw;
  }

  .flex_child:first-child {
    margin-right: 10px;
  }

  .flex_wrapper_secondary {
    display: block;
  }
  .input_title {
    font-size: 5vw;
  }

  .section_titles {
    font-size: 6vw;
  }
  /*Navbar*/

  /*Footer*/
  #online_logo_footer {
    display: none;
  }

  #leftContainer {
    margin: 10vw 6vw 10vw 6vw;
  }

  /* Howto */
  .checkboxes {
    height: 13px;
    width: 13px;
  }

  .list_span{
    margin-left: 5px;
  }
}

@media only screen and (max-width: 529px) {
  /*Topbox*/
  #main_topbox {
    display: none;
  }
  #secondary_topbox {
    display: block;
  }

  /*Dropdown*/
  #dropdown {
    display: block;
  }
  #dropdown_up {
    display: none;
  }
}
